@import '../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-regular';
@import '../../node_modules/roboto-fontface/css/roboto/less/roboto-fontface-bold';

@roboto-font-path: '../fonts';

body, html {
	height: 100%;
	font-family: 'Roboto Regular', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

#outer-container {
	max-width: 900px;
	margin: 0 auto;
}
#inner-container {
	padding: 20px 30px;
}

label {
	display: block;
}
label > input {
	width: 100%;
}
