<%!
// default title: if you need to change it, use the local scope.
var title string
%>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><% if title != "" { %><%= title %> | <% } %> Constellate</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div id="outer-container">
            <div id="inner-container">
                <%@ body { %>
                <% } %>
            </div>
        </div>
    </body>
</html>
