<%: func SignUp(buf *bytebufferpool.ByteBuffer) %>

<%~ "index.html" %>

<%@ body { %>
	<form id="signup-form" class="form" method="POST" action="/signup">
		<label>
			<span>Username</span>
			<input type="text" name="Username" maxlength="20" required>
		</label>
		<label>
			<span>Email</span>
			<input type="email" name="Email" required>
		</label>
		<label>
			<span>Password</span>
			<input type="password" name="Password" minlength="8" required>
		</label>
		<button type="submit">Sign up</button>
	</form>
<% } %>
